<style>
    #card {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 115px;
        height: 140px;
        border: 1px solid grey;
        border-radius: 6px;
        overflow: hidden;
    }

    #card:hover {
        cursor: pointer;
        background-color: #c7b5c1;
        color: white;
    }

    #headshot {
        height: 100px;
        width: 100px;
        border-radius: 6px;
    }

    #valk {
        padding-top: 6px;
    }

    h6 {
        padding-top: 5px;
    }
</style>

<div id="card">
    <div id="valk">
        <img id="headshot" src="@Image"
        <h6>@Name</h6>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = "Kiana";

    [Parameter]
    public string Image { get; set; } = "images/valkyries/portrait-wc.png";
}