@page "/"

<PageTitle>Roaring Palace</PageTitle>

<style>
    h1:focus {
        border: none;
        outline: none;
    }
</style>

<h1 class="mt-3">Roaring Palace</h1>

<div id="content">
    <h2>Version: 5.7 - Song of Deep Sins</h2>
    <h6 class="m-1">Released - May 18, 2022</h6>
    <h4 class="m-1 mt-3">What's new?:</h4>
    <h6 class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus arcu ac varius hendrerit. Nunc volutpat purus eget feugiat tincidunt. Vestibulum ut massa sit amet urna fermentum fermentum. Quisque in magna dolor. Cras viverra justo eu neque sagittis, sit amet ultrices lacus vehicula. Donec interdum felis at placerat maximus. In eleifend tortor in ipsum commodo dignissim. Suspendisse viverra a erat ac congue. Nam dictum semper ultrices. Donec consectetur tortor erat, vel varius erat malesuada at. Aenean a lacus consectetur, lacinia risus sed, dignissim nulla. In hac habitasse platea dictumst. Curabitur sit amet risus erat. Nulla tellus nisl, pharetra id venenatis nec, finibus non nulla. Suspendisse et nulla ut neque vehicula congue. Donec cursus massa ut justo elementum, sed malesuada tellus pretium. </h6>
</div>