@page "/stigmatas"
@using Newtonsoft.Json
@using honkai_wiki_api.Models
@using honkai_wiki.Services
@inject IStigmataService StigmatasService

<h2 class="mt-3">Stigmatas</h2>

<style>
    #stigmatas {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 30px;
    }
</style>

<div id="stigmatas">
    @foreach(var s in s)
    {
        <InfoCard Name="@s.Name" Image="@s.Image"></InfoCard>
    }
</div>

@code {
    List<Stigmata>? s = new List<Stigmata>();
    protected override async Task OnInitializedAsync() =>
        s = JsonConvert.DeserializeObject<List<Stigmata>>(await StigmatasService.GetAsync());
}