@page "/valkyries"
@using honkai_wiki.Services
@using honkai_wiki_api.Models
@inject IValkyrieService ValkyrieService

<style>
    #valkyries {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 30px;
    }
</style>

<h1 class="mt-3">Valkyries</h1>

<div id="valkyries">
    @foreach(var v in v)
    {
        <InfoCard Name="@v.Name" Image="@v.Image"></InfoCard>
    }
</div>

@code {
    List<Valkyrie>? v = new List<Valkyrie>();
    protected override async Task OnInitializedAsync() =>
        v = await ValkyrieService.GetValkyries();

}