@page "/valkyries"

<style>
    #valkyries {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 30px;
    }
</style>

<h1 class="mt-3">Valkyries</h1>

<div id="valkyries">
    <!--
        foreach(Valkyrie valkyrie in API)
        {
            <InfoCard Name="valkyrie.Name" Image="valkyrie.Image"></InfoCard>
        }
    -->
    <InfoCard Name="Kiana Kaslana" Image="images/valkyries/portrait-wc.png"></InfoCard>
    <InfoCard Name="Raiden Mei" Image="images/valkyries/portrait-ci.png"></InfoCard>
    <InfoCard Name="Bronya Zaychik" Image="images/valkyries/portrait-vc.png"></InfoCard>
    <InfoCard Name="Murata Himeko" Image="images/valkyries/portrait-bs.png"></InfoCard>
    <InfoCard Name="Yae Sakura" Image="images/valkyries/portrait-miko.png"></InfoCard>
    <InfoCard Name="Theresa Apocalypse" Image="images/valkyries/portrait-vp.png"></InfoCard>
    <InfoCard Name="Fu Hua" Image="images/valkyries/portrait-va.png"></InfoCard>
    <InfoCard Name="Kallen Kaslana" Image="images/valkyries/portrait-ri.png"></InfoCard>
    <InfoCard Name="Rita Rossweisse" Image="images/valkyries/portrait-ur.png"></InfoCard>
    <InfoCard Name="Liliya Olenyeva" Image="images/valkyries/portrait-bb.png"></InfoCard>
    <InfoCard Name="Rozaliya Olenyeva" Image="images/valkyries/portrait-mc.png"></InfoCard>
    <InfoCard Name="Seele Vollerei" Image="images/valkyries/portrait-sp.png"></InfoCard>
    <InfoCard Name="Durandal" Image="images/valkyries/portrait-vg.png"></InfoCard>
    <InfoCard Name="Asuka" Image="images/valkyries/portrait-bh.png"></InfoCard>
    <InfoCard Name="Fischl" Image="images/valkyries/portrait-pv.png"></InfoCard>
    <InfoCard Name="Elysia" Image="images/valkyries/portrait-mpe.png"></InfoCard>
    <InfoCard Name="Mobius" Image="images/valkyries/portrait-io.png"></InfoCard>
    <InfoCard Name="Natasha Cioara" Image="images/valkyries/portrait-ma.png"></InfoCard>
    <InfoCard Name="Carole Pepper" Image="images/valkyries/portrait-sns.png"></InfoCard>
    <InfoCard Name="Pardofelis" Image="images/valkyries/portrait-rc.png"></InfoCard>
    <InfoCard Name="Aponia" Image="images/valkyries/portrait-aponia.png"></InfoCard>
    <InfoCard Name="Eden" Image="images/valkyries/portrait-eden.png"></InfoCard>
</div>

@code {
    // get list of Valkyries from API
}
