@page "/valkyries"

<h1 class="mt-3">Valkyries</h1>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    #valkyries {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 40px;
    }

    #card {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 150px;
        border: 1px solid grey;
        border-radius: 10px;
    }

    #headshot {
        height: 100px;
        width: 100px;
    }

    #valk {
        padding-top: 15px;
    }
</style>

<div id="valkyries">
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
    <div id="card">
        <a href="" id="valk">
            <img id="headshot" src="images/portrait-wc.png"
            <a href="">Kiana</a>
        </a>
    </div>
</div>

@code {

}
