@page "/valkyries"

<h1 class="mt-3">Valkyries</h1>

<style>
    #valkyries {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 40px;
    }
</style>

<div id="valkyries">
    <InfoCard Name="Kiana" Image="images/portrait-wc.png"></InfoCard>
    <InfoCard Name="Mei" Image="images/portrait-vb.png"></InfoCard>
</div>

@code {

}
