@page "/weapons"
@using Newtonsoft.Json
@using honkai_wiki_api.Models
@using honkai_wiki.Services
@inject IHonkaiService WeaponsService

<h1 class="mt-3">Weapons</h1>

<style>
    #weapons {
        display: grid;
        grid-template-columns: 100px repeat(auto-fill, 100px) 110px;
        grid-gap: 30px;
    }
</style>

<div id="weapons">
    @foreach(var w in w)
    {
        <InfoCard Name="@w.Name" Image="@w.Image"></InfoCard>
    }
</div>

@code {
List<Weapon>? w = new List<Weapon>();
    protected override async Task OnInitializedAsync() =>
        w = JsonConvert.DeserializeObject<List<Weapon>>(await WeaponsService.GetAsync());
}
