<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="display-1" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="valkyries">
                <span class="" aria-hidden="true"></span> Valkyries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weapons">
                <span class="" aria-hidden="true"></span> Weapons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stigmatas">
                <span class="" aria-hidden="true"></span> Stigmatas
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
